.tiptap {
  > * + * {
    margin-top: 0.75em;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1 {
    font-size: clamp(36px,3.5vw,3rem)
  }

  h2 {
    font-size: clamp(30px,3vw,2.5rem)
  }

  h3 {
    font-size: clamp(26px,2.5vw,2rem)
  }

  h4 {
    font-size: clamp(20px,2vw,1.75rem)
  }

  h5 {
    font-size: clamp(18px,1.75vw,1.5rem)
  }

  h6 {
    font-size: clamp(16px,1.5vw,1.25rem)
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #000;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#000, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#000, 0.1);
    margin: 2rem 0;
  }
}
